<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-md-4 border border-white p-3 text-light">
      <h4 class="sofadi-one-regular"> <span class="text-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-emoji-sunglasses-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v.116A4.2 4.2 0 0 1 8 5c.35 0 .69.04 1 .116V5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-1.994-1.839A3 3 0 0 0 8 6c-.393 0-.74.064-1.006.161A2 2 0 0 1 5 8h-.438a2 2 0 0 1-1.94-1.515zM4.969 9.75A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .866-.5z"/>
        </svg>
      </span> Hello I'am Kapil</h4>
      <h1 class="">Software Developer</h1>
    </div>
    <div class="col-md-8  border border-white p-3">
      <div class="row">
        <div class="col-md-6">
          <div class="bg-light p-4" style="border-radius: 68% 32% 100% 0% / 0% 75% 25% 100%;">
            <img src="assets/disha-patani.jpg" class="img-fluid w-100" style="border-radius: 68% 32% 100% 0% / 0% 75% 25% 100%;" alt="Image">
        </div>

        </div>
        <div class="col-md-6 quicksand-info-text">
          A well-versed front-end developer, proficient in Angular, HTML/CSS and JavaScript having good exposure to web development practices, familiar to Component, Services, Pipes, Directive, Forms, Routing concept and Life cycle hook in Angular.
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4  border border-white p-3">
      <h4 class="sofadi-one-regular">About me</h4>
      <h1>Angular Front End Developer</h1>
    </div>
    <div class="col-md-8  border border-white p-3">.col-6<br>Subsequent columns continue along the new line.</div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4  border border-white p-3">
      <h4 class="sofadi-one-regular">Education</h4>
      <h1>My education qualification</h1>
    </div>
    <div class="col-md-8  border border-white p-3">
      <div class="row">
        <div class="col text-secondary">
          <h6 class="mb-0">
            <span class="me-5">Savitribai Phule University</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/>
            </svg>
            <span class="ms-2">2015 - 2018</span>
          </h6>
          <p><small>Pune, Maharashtra</small></p>
        </div>
      </div>
      <div class="row">
        <div class="col text-black">
          <h4 class="mb-0">Bachelor of Engineering</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4  border border-white p-3">
      <h4 class="sofadi-one-regular">Experience</h4>
      <h1>My real work experience</h1>
    </div>
    <div class="col-md-8  border border-white p-3">.col-6<br>Subsequent columns continue along the new line.</div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4  border border-white p-3">
      <h4 class="sofadi-one-regular">Projects</h4>
      <h1>Projects I have worked on</h1>
    </div>
    <div class="col-md-8  border border-white p-3 projectSection">
      <div class="row">
        <div class="card text-white" style="height: 100%;">
        <img src="assets/elements-bg.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="card text-white" style="height: 100%;">
        <img src="assets/elements-bg.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="card text-white" style="height: 100%;">
        <img src="assets/elements-bg.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4  border border-white p-3">
      <h4 class="sofadi-one-regular">Skills</h4>
      <h1>My expertise skills</h1>
    </div>
    <div class="col-md-8  border border-white">
      <div class="row row-cols-3 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="assets/angular-icon.svg" class="card-img-top p-2" alt="angular-icon">
            <div class="card-body"></div>
            <div class="card-footer text-center">
              <h6 class="card-title">Angular</h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="assets/javascript-icon.svg" class="card-img-top p-2" alt="javascript-icon">
            <div class="card-body"></div>
            <div class="card-footer text-center">
              <h6 class="card-title">JavaScript</h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="assets/html-icon.svg" class="card-img-top p-2" alt="html-icon">
            <div class="card-body"></div>
            <div class="card-footer text-center">
              <h6 class="card-title">HTML</h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="assets/css-icon.svg" class="card-img-top p-2" alt="css-icon">
            <div class="card-body"></div>
            <div class="card-footer text-center">
              <h6 class="card-title">CSS</h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="assets/bootstrap-icon.svg" class="card-img-top p-2" alt="bootstrap-icon.svg">
            <div class="card-body"></div>
            <div class="card-footer text-center">
              <h6 class="card-title">Bootstrap</h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="assets/material-icon.svg" class="card-img-top p-2" alt="material-icon.svg">
            <div class="card-body"></div>
            <div class="card-footer text-center">
              <h6 class="card-title">Angular Material</h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="assets/github-icon.svg" class="card-img-top p-2" alt="github-icon.svg">
            <div class="card-body"></div>
            <div class="card-footer text-center">
              <h6 class="card-title">GitHub</h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="assets/postman-icon.svg" class="card-img-top p-2" alt="postman-icon.svg">
            <div class="card-body"></div>
            <div class="card-footer text-center">
              <h6 class="card-title">Postman</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4  border border-white p-3">
      <h4 class="sofadi-one-regular">Portfolio</h4>
      <h1>My self made -col-4projects</h1>
    </div>
    <div class="col-md-8  border border-white p-3">.col-6<br>Subsequent columns continue along the new line.</div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4  border border-white p-3">
      <h4 class="sofadi-one-regular">Languages</h4>
      <h1>Languages I know</h1>
    </div>
    <div class="col-md-8  border border-white p-3">.col-6<br>Subsequent columns continue along the new line.</div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4  border border-white p-3">
      <h4 class="sofadi-one-regular">Contact Me</h4>
      <h1>Let's work together</h1>
    </div>
    <div class="col-md-8  border border-white p-3">.col-6<br>Subsequent columns continue along the new line.</div>
  </div>
</div>


